Source: account-polld-plugins-go
Section: net
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-golang,
               dh-translations,
               golang-go,
               golang-go-xdg-dev,
               golang-gocheck-dev,
               golang-ubuntu-push-dev,
               libaccounts-glib-dev,
               libclick-0.4-dev,
               libsignon-glib-dev,
               qt5-default,
               qtbase5-dev,
               qtpim5-dev,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/account-polld
Vcs-Browser: http://bazaar.launchpad.net/~phablet-team/account-polld/trunk/files
Vcs-Bzr: lp:account-polld

Package: account-polld-plugins-go
Architecture: any
Depends: accountsservice,
         ${misc:Depends},
         ${shlibs:Depends},
Built-Using: ${misc:Built-Using}
Recommends: accountsservice,
Description: Poll daemon for notifications - Go plugins
 Twitter and GMail plugins for account-polld.
X-Ubuntu-Use-Langpack: yes
