#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS
export DH_GOPKG := launchpad.net/account-polld
export DH_GOLANG_INSTALL_ALL := 1

%:
	dh $@ \
		--buildsystem=golang \
		--with=golang \
		--with=translations \
		--fail-missing

override_dh_auto_install:
	dh_auto_install -O--buildsystem=golang
	rm \
		${CURDIR}/debian/account-polld/usr/bin/account-watcher-test
	# all our libs are private
	rm -r \
		${CURDIR}/debian/account-polld/usr/share/gocode
	# setup online accounts service files
	mkdir -p \
		${CURDIR}/debian/account-polld/usr/share/accounts/applications \
		${CURDIR}/debian/account-polld/usr/share/accounts/services \
		${CURDIR}/debian/account-polld/usr/share/accounts/service_types \
		${CURDIR}/debian/account-polld/usr/share/applications
	cp ${CURDIR}/data/account-polld.application \
		${CURDIR}/debian/account-polld/usr/share/accounts/applications/
	cp ${CURDIR}/data/*.service \
		${CURDIR}/debian/account-polld/usr/share/accounts/services/
	cp ${CURDIR}/data/account-polld.service-type \
		${CURDIR}/debian/account-polld/usr/share/accounts/service_types/
	cp ${CURDIR}/data/account-polld.desktop \
		${CURDIR}/debian/account-polld/usr/share/applications/
	# translations
	appname=account-polld; \
	for pofile in po/*.po; do \
		pofilename="$${pofile##*/}"; \
		langcode="$${pofilename%.*}"; \
		localedir="debian/$$appname/usr/share/locale/$$langcode/LC_MESSAGES"; \
		mkdir -p $$localedir; \
		mofile="$$localedir/$$appname.mo"; \
		msgfmt -o $$mofile $$pofile; \
	done

override_dh_strip:
	echo "Skipping strip (LP: #1318027)"
