#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS
export DH_GOPKG := launchpad.net/account-polld
export DH_GOLANG_INSTALL_ALL := 1

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

%:
	dh $@ \
		--buildsystem=golang \
		--with=golang \
		--fail-missing

override_dh_auto_install:
	dh_auto_install -O--buildsystem=golang
	mkdir -p ${CURDIR}/debian/account-polld/usr/lib/account-polld
	mv \
		${CURDIR}/debian/account-polld/usr/bin/account-polld \
		${CURDIR}/debian/account-polld/usr/lib/account-polld
	rm \
		${CURDIR}/debian/account-polld/usr/bin/account-watcher-test
	# all our libs are private
	rm -r \
		${CURDIR}/debian/account-polld/usr/share/gocode
	rmdir \
		${CURDIR}/debian/account-polld/usr/bin
	# setup online accounts service files
	mkdir -p \
		${CURDIR}/debian/account-polld/usr/share/accounts/application \
		${CURDIR}/debian/account-polld/usr/share/accounts/services \
		${CURDIR}/debian/account-polld/usr/share/accounts/service_types \
		${CURDIR}/debian/account-polld/usr/share/applications
	cp ${CURDIR}/data/account-polld.application \
		${CURDIR}/debian/account-polld/usr/share/accounts/application/
	cp ${CURDIR}/data/*.service \
		${CURDIR}/debian/account-polld/usr/share/accounts/services/
	cp ${CURDIR}/data/account-polld.service-type \
		${CURDIR}/debian/account-polld/usr/share/accounts/service_types/
	cp ${CURDIR}/data/account-polld.desktop \
		${CURDIR}/debian/account-polld/usr/share/applications/

override_dh_strip:
	echo "Skipping strip"
