<?xml version="1.0" encoding="UTF-8"?>
<service id="facebook-poll">
  <type>account-polld</type>
  <name>Facebook</name>
  <icon>facebook</icon>
  <provider>facebook</provider>
  <translations>account-polld</translations>
</service>
