<?xml version="1.0" encoding="UTF-8"?>
<service id="google-gmail-poll">
  <type>account-polld</type>
  <name>GMail</name>
  <provider>google</provider>
  <icon>google</icon>
  
  <template>
    <group name="auth">
      <setting name="method">oauth2</setting>
      <setting name="mechanism">web_server</setting>
      <group name="oauth2">
        <group name="web_server">
          <setting type="as" name="Scope">['email','https://www.googleapis.com/auth/gmail.readonly']</setting>
        </group>
      </group>
    </group>
  </template>
</service>
