<?xml version="1.0" encoding="UTF-8"?>
<service id="twitter-poll">
  <type>account-polld</type>
  <name>Twitter</name>
  <icon>twitter</icon>
  <provider>twitter</provider>
  <translations>account-polld</translations>
</service>
